/*--------------------
 RESET 
 -------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------
 COMMON
 -------------------*/

body{
    background-color: black;
    height: 100vh;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.persona{
    position: relative;
    width: calc(100%/7 - 10px);
    margin: 5px;
}

.persona img{
    width: 100%;
}

.info-persona{
    position: absolute;
    bottom: 8%;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 3px;
    font-size: 14px;
}

/*--------------------
 TIPOGRAPHY
 -------------------*/

body{
    font-family: 'Roboto', sans-serif;
 }

/*--------------------
 HEADER
 -------------------*/

header{
    height: 30px;
    background-color: black;
    color: white;
}

.head-row{
    justify-content: flex-end;
}

.head-row > *{
    margin: 0 5px
}

.casella{
    font-size: 13px;
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
}

/*--------------------
 MAIN
 -------------------*/

main{
    width: calc(80%-20px);
    margin: auto;
    background-color: black;
    height: calc(100% - 120px);
    overflow-y: auto;
}

/*--------------------
 FOOTER
 -------------------*/

footer{
    height: 90px;
    background-color: #222222;
}

